.light,
.dark {
  --background-1000: #13181f;
}

.light {
  --text-50: rgb(236, 241, 248);
  --text-50-10: rgba(236, 241, 248, 0.1);
  --text-50-20: rgba(236, 241, 248, 0.2);
  --text-50-30: rgba(236, 241, 248, 0.3);
  --text-50-40: rgba(236, 241, 248, 0.4);
  --text-50-50: rgba(236, 241, 248, 0.5);
  --text-50-60: rgba(236, 241, 248, 0.6);
  --text-50-70: rgba(236, 241, 248, 0.7);
  --text-50-80: rgba(236, 241, 248, 0.8);
  --text-50-90: rgba(236, 241, 248, 0.9);
  --text-100: rgb(218, 228, 241);
  --text-100-10: rgba(218, 228, 241, 0.1);
  --text-100-20: rgba(218, 228, 241, 0.2);
  --text-100-30: rgba(218, 228, 241, 0.3);
  --text-100-40: rgba(218, 228, 241, 0.4);
  --text-100-50: rgba(218, 228, 241, 0.5);
  --text-100-60: rgba(218, 228, 241, 0.6);
  --text-100-70: rgba(218, 228, 241, 0.7);
  --text-100-80: rgba(218, 228, 241, 0.8);
  --text-100-90: rgba(218, 228, 241, 0.9);
  --text-200: rgb(180, 201, 228);
  --text-200-10: rgba(180, 201, 228, 0.1);
  --text-200-20: rgba(180, 201, 228, 0.2);
  --text-200-30: rgba(180, 201, 228, 0.3);
  --text-200-40: rgba(180, 201, 228, 0.4);
  --text-200-50: rgba(180, 201, 228, 0.5);
  --text-200-60: rgba(180, 201, 228, 0.6);
  --text-200-70: rgba(180, 201, 228, 0.7);
  --text-200-80: rgba(180, 201, 228, 0.8);
  --text-200-90: rgba(180, 201, 228, 0.9);
  --text-300: rgb(143, 174, 214);
  --text-300-10: rgba(143, 174, 214, 0.1);
  --text-300-20: rgba(143, 174, 214, 0.2);
  --text-300-30: rgba(143, 174, 214, 0.3);
  --text-300-40: rgba(143, 174, 214, 0.4);
  --text-300-50: rgba(143, 174, 214, 0.5);
  --text-300-60: rgba(143, 174, 214, 0.6);
  --text-300-70: rgba(143, 174, 214, 0.7);
  --text-300-80: rgba(143, 174, 214, 0.8);
  --text-300-90: rgba(143, 174, 214, 0.9);
  --text-400: rgb(105, 147, 201);
  --text-400-10: rgba(105, 147, 201, 0.1);
  --text-400-20: rgba(105, 147, 201, 0.2);
  --text-400-30: rgba(105, 147, 201, 0.3);
  --text-400-40: rgba(105, 147, 201, 0.4);
  --text-400-50: rgba(105, 147, 201, 0.5);
  --text-400-60: rgba(105, 147, 201, 0.6);
  --text-400-70: rgba(105, 147, 201, 0.7);
  --text-400-80: rgba(105, 147, 201, 0.8);
  --text-400-90: rgba(105, 147, 201, 0.9);
  --text-500: rgb(68, 120, 187);
  --text-500-10: rgba(68, 120, 187, 0.1);
  --text-500-20: rgba(68, 120, 187, 0.2);
  --text-500-30: rgba(68, 120, 187, 0.3);
  --text-500-40: rgba(68, 120, 187, 0.4);
  --text-500-50: rgba(68, 120, 187, 0.5);
  --text-500-60: rgba(68, 120, 187, 0.6);
  --text-500-70: rgba(68, 120, 187, 0.7);
  --text-500-80: rgba(68, 120, 187, 0.8);
  --text-500-90: rgba(68, 120, 187, 0.9);
  --text-600: rgb(54, 96, 150);
  --text-600-10: rgba(54, 96, 150, 0.1);
  --text-600-20: rgba(54, 96, 150, 0.2);
  --text-600-30: rgba(54, 96, 150, 0.3);
  --text-600-40: rgba(54, 96, 150, 0.4);
  --text-600-50: rgba(54, 96, 150, 0.5);
  --text-600-60: rgba(54, 96, 150, 0.6);
  --text-600-70: rgba(54, 96, 150, 0.7);
  --text-600-80: rgba(54, 96, 150, 0.8);
  --text-600-90: rgba(54, 96, 150, 0.9);
  --text-700: rgb(41, 72, 112);
  --text-700-10: rgba(41, 72, 112, 0.1);
  --text-700-20: rgba(41, 72, 112, 0.2);
  --text-700-30: rgba(41, 72, 112, 0.3);
  --text-700-40: rgba(41, 72, 112, 0.4);
  --text-700-50: rgba(41, 72, 112, 0.5);
  --text-700-60: rgba(41, 72, 112, 0.6);
  --text-700-70: rgba(41, 72, 112, 0.7);
  --text-700-80: rgba(41, 72, 112, 0.8);
  --text-700-90: rgba(41, 72, 112, 0.9);
  --text-800: rgb(27, 48, 75);
  --text-800-10: rgba(27, 48, 75, 0.1);
  --text-800-20: rgba(27, 48, 75, 0.2);
  --text-800-30: rgba(27, 48, 75, 0.3);
  --text-800-40: rgba(27, 48, 75, 0.4);
  --text-800-50: rgba(27, 48, 75, 0.5);
  --text-800-60: rgba(27, 48, 75, 0.6);
  --text-800-70: rgba(27, 48, 75, 0.7);
  --text-800-80: rgba(27, 48, 75, 0.8);
  --text-800-90: rgba(27, 48, 75, 0.9);
  --text-900: rgb(14, 24, 37);
  --text-900-10: rgba(14, 24, 37, 0.1);
  --text-900-20: rgba(14, 24, 37, 0.2);
  --text-900-30: rgba(14, 24, 37, 0.3);
  --text-900-40: rgba(14, 24, 37, 0.4);
  --text-900-50: rgba(14, 24, 37, 0.5);
  --text-900-60: rgba(14, 24, 37, 0.6);
  --text-900-70: rgba(14, 24, 37, 0.7);
  --text-900-80: rgba(14, 24, 37, 0.8);
  --text-900-90: rgba(14, 24, 37, 0.9);
  --text-950: rgb(7, 12, 19);
  --text-950-10: rgba(7, 12, 19, 0.1);
  --text-950-20: rgba(7, 12, 19, 0.2);
  --text-950-30: rgba(7, 12, 19, 0.3);
  --text-950-40: rgba(7, 12, 19, 0.4);
  --text-950-50: rgba(7, 12, 19, 0.5);
  --text-950-60: rgba(7, 12, 19, 0.6);
  --text-950-70: rgba(7, 12, 19, 0.7);
  --text-950-80: rgba(7, 12, 19, 0.8);
  --text-950-90: rgba(7, 12, 19, 0.9);
  --background-50: rgb(235, 242, 249);
  --background-50-10: rgba(235, 242, 249, 0.1);
  --background-50-20: rgba(235, 242, 249, 0.2);
  --background-50-30: rgba(235, 242, 249, 0.3);
  --background-50-40: rgba(235, 242, 249, 0.4);
  --background-50-50: rgba(235, 242, 249, 0.5);
  --background-50-60: rgba(235, 242, 249, 0.6);
  --background-50-70: rgba(235, 242, 249, 0.7);
  --background-50-80: rgba(235, 242, 249, 0.8);
  --background-50-90: rgba(235, 242, 249, 0.9);
  --background-100: rgb(216, 228, 243);
  --background-100-10: rgba(216, 228, 243, 0.1);
  --background-100-20: rgba(216, 228, 243, 0.2);
  --background-100-30: rgba(216, 228, 243, 0.3);
  --background-100-40: rgba(216, 228, 243, 0.4);
  --background-100-50: rgba(216, 228, 243, 0.5);
  --background-100-60: rgba(216, 228, 243, 0.6);
  --background-100-70: rgba(216, 228, 243, 0.7);
  --background-100-80: rgba(216, 228, 243, 0.8);
  --background-100-90: rgba(216, 228, 243, 0.9);
  --background-200: rgb(177, 201, 231);
  --background-200-10: rgba(177, 201, 231, 0.1);
  --background-200-20: rgba(177, 201, 231, 0.2);
  --background-200-30: rgba(177, 201, 231, 0.3);
  --background-200-40: rgba(177, 201, 231, 0.4);
  --background-200-50: rgba(177, 201, 231, 0.5);
  --background-200-60: rgba(177, 201, 231, 0.6);
  --background-200-70: rgba(177, 201, 231, 0.7);
  --background-200-80: rgba(177, 201, 231, 0.8);
  --background-200-90: rgba(177, 201, 231, 0.9);
  --background-300: rgb(138, 174, 219);
  --background-300-10: rgba(138, 174, 219, 0.1);
  --background-300-20: rgba(138, 174, 219, 0.2);
  --background-300-30: rgba(138, 174, 219, 0.3);
  --background-300-40: rgba(138, 174, 219, 0.4);
  --background-300-50: rgba(138, 174, 219, 0.5);
  --background-300-60: rgba(138, 174, 219, 0.6);
  --background-300-70: rgba(138, 174, 219, 0.7);
  --background-300-80: rgba(138, 174, 219, 0.8);
  --background-300-90: rgba(138, 174, 219, 0.9);
  --background-400: rgb(99, 148, 207);
  --background-400-10: rgba(99, 148, 207, 0.1);
  --background-400-20: rgba(99, 148, 207, 0.2);
  --background-400-30: rgba(99, 148, 207, 0.3);
  --background-400-40: rgba(99, 148, 207, 0.4);
  --background-400-50: rgba(99, 148, 207, 0.5);
  --background-400-60: rgba(99, 148, 207, 0.6);
  --background-400-70: rgba(99, 148, 207, 0.7);
  --background-400-80: rgba(99, 148, 207, 0.8);
  --background-400-90: rgba(99, 148, 207, 0.9);
  --background-500: rgb(60, 121, 195);
  --background-500-10: rgba(60, 121, 195, 0.1);
  --background-500-20: rgba(60, 121, 195, 0.2);
  --background-500-30: rgba(60, 121, 195, 0.3);
  --background-500-40: rgba(60, 121, 195, 0.4);
  --background-500-50: rgba(60, 121, 195, 0.5);
  --background-500-60: rgba(60, 121, 195, 0.6);
  --background-500-70: rgba(60, 121, 195, 0.7);
  --background-500-80: rgba(60, 121, 195, 0.8);
  --background-500-90: rgba(60, 121, 195, 0.9);
  --background-600: rgb(48, 97, 156);
  --background-600-10: rgba(48, 97, 156, 0.1);
  --background-600-20: rgba(48, 97, 156, 0.2);
  --background-600-30: rgba(48, 97, 156, 0.3);
  --background-600-40: rgba(48, 97, 156, 0.4);
  --background-600-50: rgba(48, 97, 156, 0.5);
  --background-600-60: rgba(48, 97, 156, 0.6);
  --background-600-70: rgba(48, 97, 156, 0.7);
  --background-600-80: rgba(48, 97, 156, 0.8);
  --background-600-90: rgba(48, 97, 156, 0.9);
  --background-700: rgb(36, 72, 117);
  --background-700-10: rgba(36, 72, 117, 0.1);
  --background-700-20: rgba(36, 72, 117, 0.2);
  --background-700-30: rgba(36, 72, 117, 0.3);
  --background-700-40: rgba(36, 72, 117, 0.4);
  --background-700-50: rgba(36, 72, 117, 0.5);
  --background-700-60: rgba(36, 72, 117, 0.6);
  --background-700-70: rgba(36, 72, 117, 0.7);
  --background-700-80: rgba(36, 72, 117, 0.8);
  --background-700-90: rgba(36, 72, 117, 0.9);
  --background-800: rgb(24, 48, 78);
  --background-800-10: rgba(24, 48, 78, 0.1);
  --background-800-20: rgba(24, 48, 78, 0.2);
  --background-800-30: rgba(24, 48, 78, 0.3);
  --background-800-40: rgba(24, 48, 78, 0.4);
  --background-800-50: rgba(24, 48, 78, 0.5);
  --background-800-60: rgba(24, 48, 78, 0.6);
  --background-800-70: rgba(24, 48, 78, 0.7);
  --background-800-80: rgba(24, 48, 78, 0.8);
  --background-800-90: rgba(24, 48, 78, 0.9);
  --background-900: rgb(12, 24, 39);
  --background-900-10: rgba(12, 24, 39, 0.1);
  --background-900-20: rgba(12, 24, 39, 0.2);
  --background-900-30: rgba(12, 24, 39, 0.3);
  --background-900-40: rgba(12, 24, 39, 0.4);
  --background-900-50: rgba(12, 24, 39, 0.5);
  --background-900-60: rgba(12, 24, 39, 0.6);
  --background-900-70: rgba(12, 24, 39, 0.7);
  --background-900-80: rgba(12, 24, 39, 0.8);
  --background-900-90: rgba(12, 24, 39, 0.9);
  --background-950: rgb(6, 12, 20);
  --background-950-10: rgba(6, 12, 20, 0.1);
  --background-950-20: rgba(6, 12, 20, 0.2);
  --background-950-30: rgba(6, 12, 20, 0.3);
  --background-950-40: rgba(6, 12, 20, 0.4);
  --background-950-50: rgba(6, 12, 20, 0.5);
  --background-950-60: rgba(6, 12, 20, 0.6);
  --background-950-70: rgba(6, 12, 20, 0.7);
  --background-950-80: rgba(6, 12, 20, 0.8);
  --background-950-90: rgba(6, 12, 20, 0.9);
  --primary-50: rgb(234, 241, 250);
  --primary-50-10: rgba(234, 241, 250, 0.1);
  --primary-50-20: rgba(234, 241, 250, 0.2);
  --primary-50-30: rgba(234, 241, 250, 0.3);
  --primary-50-40: rgba(234, 241, 250, 0.4);
  --primary-50-50: rgba(234, 241, 250, 0.5);
  --primary-50-60: rgba(234, 241, 250, 0.6);
  --primary-50-70: rgba(234, 241, 250, 0.7);
  --primary-50-80: rgba(234, 241, 250, 0.8);
  --primary-50-90: rgba(234, 241, 250, 0.9);
  --primary-100: rgb(214, 227, 245);
  --primary-100-10: rgba(214, 227, 245, 0.1);
  --primary-100-20: rgba(214, 227, 245, 0.2);
  --primary-100-30: rgba(214, 227, 245, 0.3);
  --primary-100-40: rgba(214, 227, 245, 0.4);
  --primary-100-50: rgba(214, 227, 245, 0.5);
  --primary-100-60: rgba(214, 227, 245, 0.6);
  --primary-100-70: rgba(214, 227, 245, 0.7);
  --primary-100-80: rgba(214, 227, 245, 0.8);
  --primary-100-90: rgba(214, 227, 245, 0.9);
  --primary-200: rgb(173, 199, 235);
  --primary-200-10: rgba(173, 199, 235, 0.1);
  --primary-200-20: rgba(173, 199, 235, 0.2);
  --primary-200-30: rgba(173, 199, 235, 0.3);
  --primary-200-40: rgba(173, 199, 235, 0.4);
  --primary-200-50: rgba(173, 199, 235, 0.5);
  --primary-200-60: rgba(173, 199, 235, 0.6);
  --primary-200-70: rgba(173, 199, 235, 0.7);
  --primary-200-80: rgba(173, 199, 235, 0.8);
  --primary-200-90: rgba(173, 199, 235, 0.9);
  --primary-300: rgb(132, 171, 225);
  --primary-300-10: rgba(132, 171, 225, 0.1);
  --primary-300-20: rgba(132, 171, 225, 0.2);
  --primary-300-30: rgba(132, 171, 225, 0.3);
  --primary-300-40: rgba(132, 171, 225, 0.4);
  --primary-300-50: rgba(132, 171, 225, 0.5);
  --primary-300-60: rgba(132, 171, 225, 0.6);
  --primary-300-70: rgba(132, 171, 225, 0.7);
  --primary-300-80: rgba(132, 171, 225, 0.8);
  --primary-300-90: rgba(132, 171, 225, 0.9);
  --primary-400: rgb(91, 143, 215);
  --primary-400-10: rgba(91, 143, 215, 0.1);
  --primary-400-20: rgba(91, 143, 215, 0.2);
  --primary-400-30: rgba(91, 143, 215, 0.3);
  --primary-400-40: rgba(91, 143, 215, 0.4);
  --primary-400-50: rgba(91, 143, 215, 0.5);
  --primary-400-60: rgba(91, 143, 215, 0.6);
  --primary-400-70: rgba(91, 143, 215, 0.7);
  --primary-400-80: rgba(91, 143, 215, 0.8);
  --primary-400-90: rgba(91, 143, 215, 0.9);
  --primary-500: rgb(50, 115, 205);
  --primary-500-10: rgba(50, 115, 205, 0.1);
  --primary-500-20: rgba(50, 115, 205, 0.2);
  --primary-500-30: rgba(50, 115, 205, 0.3);
  --primary-500-40: rgba(50, 115, 205, 0.4);
  --primary-500-50: rgba(50, 115, 205, 0.5);
  --primary-500-60: rgba(50, 115, 205, 0.6);
  --primary-500-70: rgba(50, 115, 205, 0.7);
  --primary-500-80: rgba(50, 115, 205, 0.8);
  --primary-500-90: rgba(50, 115, 205, 0.9);
  --primary-600: rgb(40, 92, 164);
  --primary-600-10: rgba(40, 92, 164, 0.1);
  --primary-600-20: rgba(40, 92, 164, 0.2);
  --primary-600-30: rgba(40, 92, 164, 0.3);
  --primary-600-40: rgba(40, 92, 164, 0.4);
  --primary-600-50: rgba(40, 92, 164, 0.5);
  --primary-600-60: rgba(40, 92, 164, 0.6);
  --primary-600-70: rgba(40, 92, 164, 0.7);
  --primary-600-80: rgba(40, 92, 164, 0.8);
  --primary-600-90: rgba(40, 92, 164, 0.9);
  --primary-700: rgb(30, 69, 123);
  --primary-700-10: rgba(30, 69, 123, 0.1);
  --primary-700-20: rgba(30, 69, 123, 0.2);
  --primary-700-30: rgba(30, 69, 123, 0.3);
  --primary-700-40: rgba(30, 69, 123, 0.4);
  --primary-700-50: rgba(30, 69, 123, 0.5);
  --primary-700-60: rgba(30, 69, 123, 0.6);
  --primary-700-70: rgba(30, 69, 123, 0.7);
  --primary-700-80: rgba(30, 69, 123, 0.8);
  --primary-700-90: rgba(30, 69, 123, 0.9);
  --primary-800: rgb(20, 46, 82);
  --primary-800-10: rgba(20, 46, 82, 0.1);
  --primary-800-20: rgba(20, 46, 82, 0.2);
  --primary-800-30: rgba(20, 46, 82, 0.3);
  --primary-800-40: rgba(20, 46, 82, 0.4);
  --primary-800-50: rgba(20, 46, 82, 0.5);
  --primary-800-60: rgba(20, 46, 82, 0.6);
  --primary-800-70: rgba(20, 46, 82, 0.7);
  --primary-800-80: rgba(20, 46, 82, 0.8);
  --primary-800-90: rgba(20, 46, 82, 0.9);
  --primary-900: rgb(10, 23, 41);
  --primary-900-10: rgba(10, 23, 41, 0.1);
  --primary-900-20: rgba(10, 23, 41, 0.2);
  --primary-900-30: rgba(10, 23, 41, 0.3);
  --primary-900-40: rgba(10, 23, 41, 0.4);
  --primary-900-50: rgba(10, 23, 41, 0.5);
  --primary-900-60: rgba(10, 23, 41, 0.6);
  --primary-900-70: rgba(10, 23, 41, 0.7);
  --primary-900-80: rgba(10, 23, 41, 0.8);
  --primary-900-90: rgba(10, 23, 41, 0.9);
  --primary-950: rgb(5, 11, 21);
  --primary-950-10: rgba(5, 11, 21, 0.1);
  --primary-950-20: rgba(5, 11, 21, 0.2);
  --primary-950-30: rgba(5, 11, 21, 0.3);
  --primary-950-40: rgba(5, 11, 21, 0.4);
  --primary-950-50: rgba(5, 11, 21, 0.5);
  --primary-950-60: rgba(5, 11, 21, 0.6);
  --primary-950-70: rgba(5, 11, 21, 0.7);
  --primary-950-80: rgba(5, 11, 21, 0.8);
  --primary-950-90: rgba(5, 11, 21, 0.9);
  --secondary-50: rgb(233, 241, 251);
  --secondary-50-10: rgba(233, 241, 251, 0.1);
  --secondary-50-20: rgba(233, 241, 251, 0.2);
  --secondary-50-30: rgba(233, 241, 251, 0.3);
  --secondary-50-40: rgba(233, 241, 251, 0.4);
  --secondary-50-50: rgba(233, 241, 251, 0.5);
  --secondary-50-60: rgba(233, 241, 251, 0.6);
  --secondary-50-70: rgba(233, 241, 251, 0.7);
  --secondary-50-80: rgba(233, 241, 251, 0.8);
  --secondary-50-90: rgba(233, 241, 251, 0.9);
  --secondary-100: rgb(212, 227, 247);
  --secondary-100-10: rgba(212, 227, 247, 0.1);
  --secondary-100-20: rgba(212, 227, 247, 0.2);
  --secondary-100-30: rgba(212, 227, 247, 0.3);
  --secondary-100-40: rgba(212, 227, 247, 0.4);
  --secondary-100-50: rgba(212, 227, 247, 0.5);
  --secondary-100-60: rgba(212, 227, 247, 0.6);
  --secondary-100-70: rgba(212, 227, 247, 0.7);
  --secondary-100-80: rgba(212, 227, 247, 0.8);
  --secondary-100-90: rgba(212, 227, 247, 0.9);
  --secondary-200: rgb(169, 199, 239);
  --secondary-200-10: rgba(169, 199, 239, 0.1);
  --secondary-200-20: rgba(169, 199, 239, 0.2);
  --secondary-200-30: rgba(169, 199, 239, 0.3);
  --secondary-200-40: rgba(169, 199, 239, 0.4);
  --secondary-200-50: rgba(169, 199, 239, 0.5);
  --secondary-200-60: rgba(169, 199, 239, 0.6);
  --secondary-200-70: rgba(169, 199, 239, 0.7);
  --secondary-200-80: rgba(169, 199, 239, 0.8);
  --secondary-200-90: rgba(169, 199, 239, 0.9);
  --secondary-300: rgb(126, 171, 231);
  --secondary-300-10: rgba(126, 171, 231, 0.1);
  --secondary-300-20: rgba(126, 171, 231, 0.2);
  --secondary-300-30: rgba(126, 171, 231, 0.3);
  --secondary-300-40: rgba(126, 171, 231, 0.4);
  --secondary-300-50: rgba(126, 171, 231, 0.5);
  --secondary-300-60: rgba(126, 171, 231, 0.6);
  --secondary-300-70: rgba(126, 171, 231, 0.7);
  --secondary-300-80: rgba(126, 171, 231, 0.8);
  --secondary-300-90: rgba(126, 171, 231, 0.9);
  --secondary-400: rgb(83, 144, 223);
  --secondary-400-10: rgba(83, 144, 223, 0.1);
  --secondary-400-20: rgba(83, 144, 223, 0.2);
  --secondary-400-30: rgba(83, 144, 223, 0.3);
  --secondary-400-40: rgba(83, 144, 223, 0.4);
  --secondary-400-50: rgba(83, 144, 223, 0.5);
  --secondary-400-60: rgba(83, 144, 223, 0.6);
  --secondary-400-70: rgba(83, 144, 223, 0.7);
  --secondary-400-80: rgba(83, 144, 223, 0.8);
  --secondary-400-90: rgba(83, 144, 223, 0.9);
  --secondary-500: rgb(40, 116, 215);
  --secondary-500-10: rgba(40, 116, 215, 0.1);
  --secondary-500-20: rgba(40, 116, 215, 0.2);
  --secondary-500-30: rgba(40, 116, 215, 0.3);
  --secondary-500-40: rgba(40, 116, 215, 0.4);
  --secondary-500-50: rgba(40, 116, 215, 0.5);
  --secondary-500-60: rgba(40, 116, 215, 0.6);
  --secondary-500-70: rgba(40, 116, 215, 0.7);
  --secondary-500-80: rgba(40, 116, 215, 0.8);
  --secondary-500-90: rgba(40, 116, 215, 0.9);
  --secondary-600: rgb(32, 93, 172);
  --secondary-600-10: rgba(32, 93, 172, 0.1);
  --secondary-600-20: rgba(32, 93, 172, 0.2);
  --secondary-600-30: rgba(32, 93, 172, 0.3);
  --secondary-600-40: rgba(32, 93, 172, 0.4);
  --secondary-600-50: rgba(32, 93, 172, 0.5);
  --secondary-600-60: rgba(32, 93, 172, 0.6);
  --secondary-600-70: rgba(32, 93, 172, 0.7);
  --secondary-600-80: rgba(32, 93, 172, 0.8);
  --secondary-600-90: rgba(32, 93, 172, 0.9);
  --secondary-700: rgb(24, 69, 129);
  --secondary-700-10: rgba(24, 69, 129, 0.1);
  --secondary-700-20: rgba(24, 69, 129, 0.2);
  --secondary-700-30: rgba(24, 69, 129, 0.3);
  --secondary-700-40: rgba(24, 69, 129, 0.4);
  --secondary-700-50: rgba(24, 69, 129, 0.5);
  --secondary-700-60: rgba(24, 69, 129, 0.6);
  --secondary-700-70: rgba(24, 69, 129, 0.7);
  --secondary-700-80: rgba(24, 69, 129, 0.8);
  --secondary-700-90: rgba(24, 69, 129, 0.9);
  --secondary-800: rgb(16, 46, 86);
  --secondary-800-10: rgba(16, 46, 86, 0.1);
  --secondary-800-20: rgba(16, 46, 86, 0.2);
  --secondary-800-30: rgba(16, 46, 86, 0.3);
  --secondary-800-40: rgba(16, 46, 86, 0.4);
  --secondary-800-50: rgba(16, 46, 86, 0.5);
  --secondary-800-60: rgba(16, 46, 86, 0.6);
  --secondary-800-70: rgba(16, 46, 86, 0.7);
  --secondary-800-80: rgba(16, 46, 86, 0.8);
  --secondary-800-90: rgba(16, 46, 86, 0.9);
  --secondary-900: rgb(8, 23, 43);
  --secondary-900-10: rgba(8, 23, 43, 0.1);
  --secondary-900-20: rgba(8, 23, 43, 0.2);
  --secondary-900-30: rgba(8, 23, 43, 0.3);
  --secondary-900-40: rgba(8, 23, 43, 0.4);
  --secondary-900-50: rgba(8, 23, 43, 0.5);
  --secondary-900-60: rgba(8, 23, 43, 0.6);
  --secondary-900-70: rgba(8, 23, 43, 0.7);
  --secondary-900-80: rgba(8, 23, 43, 0.8);
  --secondary-900-90: rgba(8, 23, 43, 0.9);
  --secondary-950: rgb(4, 12, 22);
  --secondary-950-10: rgba(4, 12, 22, 0.1);
  --secondary-950-20: rgba(4, 12, 22, 0.2);
  --secondary-950-30: rgba(4, 12, 22, 0.3);
  --secondary-950-40: rgba(4, 12, 22, 0.4);
  --secondary-950-50: rgba(4, 12, 22, 0.5);
  --secondary-950-60: rgba(4, 12, 22, 0.6);
  --secondary-950-70: rgba(4, 12, 22, 0.7);
  --secondary-950-80: rgba(4, 12, 22, 0.8);
  --secondary-950-90: rgba(4, 12, 22, 0.9);
  --accent-50: rgb(233, 241, 252);
  --accent-50-10: rgba(233, 241, 252, 0.1);
  --accent-50-20: rgba(233, 241, 252, 0.2);
  --accent-50-30: rgba(233, 241, 252, 0.3);
  --accent-50-40: rgba(233, 241, 252, 0.4);
  --accent-50-50: rgba(233, 241, 252, 0.5);
  --accent-50-60: rgba(233, 241, 252, 0.6);
  --accent-50-70: rgba(233, 241, 252, 0.7);
  --accent-50-80: rgba(233, 241, 252, 0.8);
  --accent-50-90: rgba(233, 241, 252, 0.9);
  --accent-100: rgb(210, 226, 249);
  --accent-100-10: rgba(210, 226, 249, 0.1);
  --accent-100-20: rgba(210, 226, 249, 0.2);
  --accent-100-30: rgba(210, 226, 249, 0.3);
  --accent-100-40: rgba(210, 226, 249, 0.4);
  --accent-100-50: rgba(210, 226, 249, 0.5);
  --accent-100-60: rgba(210, 226, 249, 0.6);
  --accent-100-70: rgba(210, 226, 249, 0.7);
  --accent-100-80: rgba(210, 226, 249, 0.8);
  --accent-100-90: rgba(210, 226, 249, 0.9);
  --accent-200: rgb(165, 198, 243);
  --accent-200-10: rgba(165, 198, 243, 0.1);
  --accent-200-20: rgba(165, 198, 243, 0.2);
  --accent-200-30: rgba(165, 198, 243, 0.3);
  --accent-200-40: rgba(165, 198, 243, 0.4);
  --accent-200-50: rgba(165, 198, 243, 0.5);
  --accent-200-60: rgba(165, 198, 243, 0.6);
  --accent-200-70: rgba(165, 198, 243, 0.7);
  --accent-200-80: rgba(165, 198, 243, 0.8);
  --accent-200-90: rgba(165, 198, 243, 0.9);
  --accent-300: rgb(120, 169, 237);
  --accent-300-10: rgba(120, 169, 237, 0.1);
  --accent-300-20: rgba(120, 169, 237, 0.2);
  --accent-300-30: rgba(120, 169, 237, 0.3);
  --accent-300-40: rgba(120, 169, 237, 0.4);
  --accent-300-50: rgba(120, 169, 237, 0.5);
  --accent-300-60: rgba(120, 169, 237, 0.6);
  --accent-300-70: rgba(120, 169, 237, 0.7);
  --accent-300-80: rgba(120, 169, 237, 0.8);
  --accent-300-90: rgba(120, 169, 237, 0.9);
  --accent-400: rgb(75, 140, 231);
  --accent-400-10: rgba(75, 140, 231, 0.1);
  --accent-400-20: rgba(75, 140, 231, 0.2);
  --accent-400-30: rgba(75, 140, 231, 0.3);
  --accent-400-40: rgba(75, 140, 231, 0.4);
  --accent-400-50: rgba(75, 140, 231, 0.5);
  --accent-400-60: rgba(75, 140, 231, 0.6);
  --accent-400-70: rgba(75, 140, 231, 0.7);
  --accent-400-80: rgba(75, 140, 231, 0.8);
  --accent-400-90: rgba(75, 140, 231, 0.9);
  --accent-500: rgb(31, 111, 224);
  --accent-500-10: rgba(31, 111, 224, 0.1);
  --accent-500-20: rgba(31, 111, 224, 0.2);
  --accent-500-30: rgba(31, 111, 224, 0.3);
  --accent-500-40: rgba(31, 111, 224, 0.4);
  --accent-500-50: rgba(31, 111, 224, 0.5);
  --accent-500-60: rgba(31, 111, 224, 0.6);
  --accent-500-70: rgba(31, 111, 224, 0.7);
  --accent-500-80: rgba(31, 111, 224, 0.8);
  --accent-500-90: rgba(31, 111, 224, 0.9);
  --accent-600: rgb(24, 89, 180);
  --accent-600-10: rgba(24, 89, 180, 0.1);
  --accent-600-20: rgba(24, 89, 180, 0.2);
  --accent-600-30: rgba(24, 89, 180, 0.3);
  --accent-600-40: rgba(24, 89, 180, 0.4);
  --accent-600-50: rgba(24, 89, 180, 0.5);
  --accent-600-60: rgba(24, 89, 180, 0.6);
  --accent-600-70: rgba(24, 89, 180, 0.7);
  --accent-600-80: rgba(24, 89, 180, 0.8);
  --accent-600-90: rgba(24, 89, 180, 0.9);
  --accent-700: rgb(18, 67, 135);
  --accent-700-10: rgba(18, 67, 135, 0.1);
  --accent-700-20: rgba(18, 67, 135, 0.2);
  --accent-700-30: rgba(18, 67, 135, 0.3);
  --accent-700-40: rgba(18, 67, 135, 0.4);
  --accent-700-50: rgba(18, 67, 135, 0.5);
  --accent-700-60: rgba(18, 67, 135, 0.6);
  --accent-700-70: rgba(18, 67, 135, 0.7);
  --accent-700-80: rgba(18, 67, 135, 0.8);
  --accent-700-90: rgba(18, 67, 135, 0.9);
  --accent-800: rgb(12, 45, 90);
  --accent-800-10: rgba(12, 45, 90, 0.1);
  --accent-800-20: rgba(12, 45, 90, 0.2);
  --accent-800-30: rgba(12, 45, 90, 0.3);
  --accent-800-40: rgba(12, 45, 90, 0.4);
  --accent-800-50: rgba(12, 45, 90, 0.5);
  --accent-800-60: rgba(12, 45, 90, 0.6);
  --accent-800-70: rgba(12, 45, 90, 0.7);
  --accent-800-80: rgba(12, 45, 90, 0.8);
  --accent-800-90: rgba(12, 45, 90, 0.9);
  --accent-900: rgb(6, 22, 45);
  --accent-900-10: rgba(6, 22, 45, 0.1);
  --accent-900-20: rgba(6, 22, 45, 0.2);
  --accent-900-30: rgba(6, 22, 45, 0.3);
  --accent-900-40: rgba(6, 22, 45, 0.4);
  --accent-900-50: rgba(6, 22, 45, 0.5);
  --accent-900-60: rgba(6, 22, 45, 0.6);
  --accent-900-70: rgba(6, 22, 45, 0.7);
  --accent-900-80: rgba(6, 22, 45, 0.8);
  --accent-900-90: rgba(6, 22, 45, 0.9);
  --accent-950: rgb(3, 11, 22);
  --accent-950-10: rgba(3, 11, 22, 0.1);
  --accent-950-20: rgba(3, 11, 22, 0.2);
  --accent-950-30: rgba(3, 11, 22, 0.3);
  --accent-950-40: rgba(3, 11, 22, 0.4);
  --accent-950-50: rgba(3, 11, 22, 0.5);
  --accent-950-60: rgba(3, 11, 22, 0.6);
  --accent-950-70: rgba(3, 11, 22, 0.7);
  --accent-950-80: rgba(3, 11, 22, 0.8);
  --accent-950-90: rgba(3, 11, 22, 0.9);
}
.dark {
  --text-50: rgb(7, 12, 19);
  --text-50-10: rgba(7, 12, 19, 0.1);
  --text-50-20: rgba(7, 12, 19, 0.2);
  --text-50-30: rgba(7, 12, 19, 0.3);
  --text-50-40: rgba(7, 12, 19, 0.4);
  --text-50-50: rgba(7, 12, 19, 0.5);
  --text-50-60: rgba(7, 12, 19, 0.6);
  --text-50-70: rgba(7, 12, 19, 0.7);
  --text-50-80: rgba(7, 12, 19, 0.8);
  --text-50-90: rgba(7, 12, 19, 0.9);
  --text-100: rgb(14, 24, 37);
  --text-100-10: rgba(14, 24, 37, 0.1);
  --text-100-20: rgba(14, 24, 37, 0.2);
  --text-100-30: rgba(14, 24, 37, 0.3);
  --text-100-40: rgba(14, 24, 37, 0.4);
  --text-100-50: rgba(14, 24, 37, 0.5);
  --text-100-60: rgba(14, 24, 37, 0.6);
  --text-100-70: rgba(14, 24, 37, 0.7);
  --text-100-80: rgba(14, 24, 37, 0.8);
  --text-100-90: rgba(14, 24, 37, 0.9);
  --text-200: rgb(27, 48, 75);
  --text-200-10: rgba(27, 48, 75, 0.1);
  --text-200-20: rgba(27, 48, 75, 0.2);
  --text-200-30: rgba(27, 48, 75, 0.3);
  --text-200-40: rgba(27, 48, 75, 0.4);
  --text-200-50: rgba(27, 48, 75, 0.5);
  --text-200-60: rgba(27, 48, 75, 0.6);
  --text-200-70: rgba(27, 48, 75, 0.7);
  --text-200-80: rgba(27, 48, 75, 0.8);
  --text-200-90: rgba(27, 48, 75, 0.9);
  --text-300: rgb(41, 72, 112);
  --text-300-10: rgba(41, 72, 112, 0.1);
  --text-300-20: rgba(41, 72, 112, 0.2);
  --text-300-30: rgba(41, 72, 112, 0.3);
  --text-300-40: rgba(41, 72, 112, 0.4);
  --text-300-50: rgba(41, 72, 112, 0.5);
  --text-300-60: rgba(41, 72, 112, 0.6);
  --text-300-70: rgba(41, 72, 112, 0.7);
  --text-300-80: rgba(41, 72, 112, 0.8);
  --text-300-90: rgba(41, 72, 112, 0.9);
  --text-400: rgb(54, 96, 150);
  --text-400-10: rgba(54, 96, 150, 0.1);
  --text-400-20: rgba(54, 96, 150, 0.2);
  --text-400-30: rgba(54, 96, 150, 0.3);
  --text-400-40: rgba(54, 96, 150, 0.4);
  --text-400-50: rgba(54, 96, 150, 0.5);
  --text-400-60: rgba(54, 96, 150, 0.6);
  --text-400-70: rgba(54, 96, 150, 0.7);
  --text-400-80: rgba(54, 96, 150, 0.8);
  --text-400-90: rgba(54, 96, 150, 0.9);
  --text-500: rgb(68, 120, 187);
  --text-500-10: rgba(68, 120, 187, 0.1);
  --text-500-20: rgba(68, 120, 187, 0.2);
  --text-500-30: rgba(68, 120, 187, 0.3);
  --text-500-40: rgba(68, 120, 187, 0.4);
  --text-500-50: rgba(68, 120, 187, 0.5);
  --text-500-60: rgba(68, 120, 187, 0.6);
  --text-500-70: rgba(68, 120, 187, 0.7);
  --text-500-80: rgba(68, 120, 187, 0.8);
  --text-500-90: rgba(68, 120, 187, 0.9);
  --text-600: rgb(105, 147, 201);
  --text-600-10: rgba(105, 147, 201, 0.1);
  --text-600-20: rgba(105, 147, 201, 0.2);
  --text-600-30: rgba(105, 147, 201, 0.3);
  --text-600-40: rgba(105, 147, 201, 0.4);
  --text-600-50: rgba(105, 147, 201, 0.5);
  --text-600-60: rgba(105, 147, 201, 0.6);
  --text-600-70: rgba(105, 147, 201, 0.7);
  --text-600-80: rgba(105, 147, 201, 0.8);
  --text-600-90: rgba(105, 147, 201, 0.9);
  --text-700: rgb(143, 174, 214);
  --text-700-10: rgba(143, 174, 214, 0.1);
  --text-700-20: rgba(143, 174, 214, 0.2);
  --text-700-30: rgba(143, 174, 214, 0.3);
  --text-700-40: rgba(143, 174, 214, 0.4);
  --text-700-50: rgba(143, 174, 214, 0.5);
  --text-700-60: rgba(143, 174, 214, 0.6);
  --text-700-70: rgba(143, 174, 214, 0.7);
  --text-700-80: rgba(143, 174, 214, 0.8);
  --text-700-90: rgba(143, 174, 214, 0.9);
  --text-800: rgb(180, 201, 228);
  --text-800-10: rgba(180, 201, 228, 0.1);
  --text-800-20: rgba(180, 201, 228, 0.2);
  --text-800-30: rgba(180, 201, 228, 0.3);
  --text-800-40: rgba(180, 201, 228, 0.4);
  --text-800-50: rgba(180, 201, 228, 0.5);
  --text-800-60: rgba(180, 201, 228, 0.6);
  --text-800-70: rgba(180, 201, 228, 0.7);
  --text-800-80: rgba(180, 201, 228, 0.8);
  --text-800-90: rgba(180, 201, 228, 0.9);
  --text-900: rgb(218, 228, 241);
  --text-900-10: rgba(218, 228, 241, 0.1);
  --text-900-20: rgba(218, 228, 241, 0.2);
  --text-900-30: rgba(218, 228, 241, 0.3);
  --text-900-40: rgba(218, 228, 241, 0.4);
  --text-900-50: rgba(218, 228, 241, 0.5);
  --text-900-60: rgba(218, 228, 241, 0.6);
  --text-900-70: rgba(218, 228, 241, 0.7);
  --text-900-80: rgba(218, 228, 241, 0.8);
  --text-900-90: rgba(218, 228, 241, 0.9);
  --text-950: rgb(236, 241, 248);
  --text-950-10: rgba(236, 241, 248, 0.1);
  --text-950-20: rgba(236, 241, 248, 0.2);
  --text-950-30: rgba(236, 241, 248, 0.3);
  --text-950-40: rgba(236, 241, 248, 0.4);
  --text-950-50: rgba(236, 241, 248, 0.5);
  --text-950-60: rgba(236, 241, 248, 0.6);
  --text-950-70: rgba(236, 241, 248, 0.7);
  --text-950-80: rgba(236, 241, 248, 0.8);
  --text-950-90: rgba(236, 241, 248, 0.9);
  --background-50: rgb(6, 11, 19);
  --background-50-10: rgba(6, 11, 19, 0.1);
  --background-50-20: rgba(6, 11, 19, 0.2);
  --background-50-30: rgba(6, 11, 19, 0.3);
  --background-50-40: rgba(6, 11, 19, 0.4);
  --background-50-50: rgba(6, 11, 19, 0.5);
  --background-50-60: rgba(6, 11, 19, 0.6);
  --background-50-70: rgba(6, 11, 19, 0.7);
  --background-50-80: rgba(6, 11, 19, 0.8);
  --background-50-90: rgba(6, 11, 19, 0.9);
  --background-100: rgb(13, 22, 38);
  --background-100-10: rgba(13, 22, 38, 0.1);
  --background-100-20: rgba(13, 22, 38, 0.2);
  --background-100-30: rgba(13, 22, 38, 0.3);
  --background-100-40: rgba(13, 22, 38, 0.4);
  --background-100-50: rgba(13, 22, 38, 0.5);
  --background-100-60: rgba(13, 22, 38, 0.6);
  --background-100-70: rgba(13, 22, 38, 0.7);
  --background-100-80: rgba(13, 22, 38, 0.8);
  --background-100-90: rgba(13, 22, 38, 0.9);
  --background-200: rgb(25, 44, 77);
  --background-200-10: rgba(25, 44, 77, 0.1);
  --background-200-20: rgba(25, 44, 77, 0.2);
  --background-200-30: rgba(25, 44, 77, 0.3);
  --background-200-40: rgba(25, 44, 77, 0.4);
  --background-200-50: rgba(25, 44, 77, 0.5);
  --background-200-60: rgba(25, 44, 77, 0.6);
  --background-200-70: rgba(25, 44, 77, 0.7);
  --background-200-80: rgba(25, 44, 77, 0.8);
  --background-200-90: rgba(25, 44, 77, 0.9);
  --background-300: rgb(38, 66, 115);
  --background-300-10: rgba(38, 66, 115, 0.1);
  --background-300-20: rgba(38, 66, 115, 0.2);
  --background-300-30: rgba(38, 66, 115, 0.3);
  --background-300-40: rgba(38, 66, 115, 0.4);
  --background-300-50: rgba(38, 66, 115, 0.5);
  --background-300-60: rgba(38, 66, 115, 0.6);
  --background-300-70: rgba(38, 66, 115, 0.7);
  --background-300-80: rgba(38, 66, 115, 0.8);
  --background-300-90: rgba(38, 66, 115, 0.9);
  --background-400: rgb(51, 88, 153);
  --background-400-10: rgba(51, 88, 153, 0.1);
  --background-400-20: rgba(51, 88, 153, 0.2);
  --background-400-30: rgba(51, 88, 153, 0.3);
  --background-400-40: rgba(51, 88, 153, 0.4);
  --background-400-50: rgba(51, 88, 153, 0.5);
  --background-400-60: rgba(51, 88, 153, 0.6);
  --background-400-70: rgba(51, 88, 153, 0.7);
  --background-400-80: rgba(51, 88, 153, 0.8);
  --background-400-90: rgba(51, 88, 153, 0.9);
  --background-500: rgb(64, 111, 191);
  --background-500-10: rgba(64, 111, 191, 0.1);
  --background-500-20: rgba(64, 111, 191, 0.2);
  --background-500-30: rgba(64, 111, 191, 0.3);
  --background-500-40: rgba(64, 111, 191, 0.4);
  --background-500-50: rgba(64, 111, 191, 0.5);
  --background-500-60: rgba(64, 111, 191, 0.6);
  --background-500-70: rgba(64, 111, 191, 0.7);
  --background-500-80: rgba(64, 111, 191, 0.8);
  --background-500-90: rgba(64, 111, 191, 0.9);
  --background-600: rgb(102, 139, 204);
  --background-600-10: rgba(102, 139, 204, 0.1);
  --background-600-20: rgba(102, 139, 204, 0.2);
  --background-600-30: rgba(102, 139, 204, 0.3);
  --background-600-40: rgba(102, 139, 204, 0.4);
  --background-600-50: rgba(102, 139, 204, 0.5);
  --background-600-60: rgba(102, 139, 204, 0.6);
  --background-600-70: rgba(102, 139, 204, 0.7);
  --background-600-80: rgba(102, 139, 204, 0.8);
  --background-600-90: rgba(102, 139, 204, 0.9);
  --background-700: rgb(140, 168, 217);
  --background-700-10: rgba(140, 168, 217, 0.1);
  --background-700-20: rgba(140, 168, 217, 0.2);
  --background-700-30: rgba(140, 168, 217, 0.3);
  --background-700-40: rgba(140, 168, 217, 0.4);
  --background-700-50: rgba(140, 168, 217, 0.5);
  --background-700-60: rgba(140, 168, 217, 0.6);
  --background-700-70: rgba(140, 168, 217, 0.7);
  --background-700-80: rgba(140, 168, 217, 0.8);
  --background-700-90: rgba(140, 168, 217, 0.9);
  --background-800: rgb(179, 197, 230);
  --background-800-10: rgba(179, 197, 230, 0.1);
  --background-800-20: rgba(179, 197, 230, 0.2);
  --background-800-30: rgba(179, 197, 230, 0.3);
  --background-800-40: rgba(179, 197, 230, 0.4);
  --background-800-50: rgba(179, 197, 230, 0.5);
  --background-800-60: rgba(179, 197, 230, 0.6);
  --background-800-70: rgba(179, 197, 230, 0.7);
  --background-800-80: rgba(179, 197, 230, 0.8);
  --background-800-90: rgba(179, 197, 230, 0.9);
  --background-900: rgb(217, 226, 242);
  --background-900-10: rgba(217, 226, 242, 0.1);
  --background-900-20: rgba(217, 226, 242, 0.2);
  --background-900-30: rgba(217, 226, 242, 0.3);
  --background-900-40: rgba(217, 226, 242, 0.4);
  --background-900-50: rgba(217, 226, 242, 0.5);
  --background-900-60: rgba(217, 226, 242, 0.6);
  --background-900-70: rgba(217, 226, 242, 0.7);
  --background-900-80: rgba(217, 226, 242, 0.8);
  --background-900-90: rgba(217, 226, 242, 0.9);
  --background-950: rgb(236, 241, 249);
  --background-950-10: rgba(236, 241, 249, 0.1);
  --background-950-20: rgba(236, 241, 249, 0.2);
  --background-950-30: rgba(236, 241, 249, 0.3);
  --background-950-40: rgba(236, 241, 249, 0.4);
  --background-950-50: rgba(236, 241, 249, 0.5);
  --background-950-60: rgba(236, 241, 249, 0.6);
  --background-950-70: rgba(236, 241, 249, 0.7);
  --background-950-80: rgba(236, 241, 249, 0.8);
  --background-950-90: rgba(236, 241, 249, 0.9);
  --primary-50: rgb(5, 11, 21);
  --primary-50-10: rgba(5, 11, 21, 0.1);
  --primary-50-20: rgba(5, 11, 21, 0.2);
  --primary-50-30: rgba(5, 11, 21, 0.3);
  --primary-50-40: rgba(5, 11, 21, 0.4);
  --primary-50-50: rgba(5, 11, 21, 0.5);
  --primary-50-60: rgba(5, 11, 21, 0.6);
  --primary-50-70: rgba(5, 11, 21, 0.7);
  --primary-50-80: rgba(5, 11, 21, 0.8);
  --primary-50-90: rgba(5, 11, 21, 0.9);
  --primary-100: rgb(10, 23, 41);
  --primary-100-10: rgba(10, 23, 41, 0.1);
  --primary-100-20: rgba(10, 23, 41, 0.2);
  --primary-100-30: rgba(10, 23, 41, 0.3);
  --primary-100-40: rgba(10, 23, 41, 0.4);
  --primary-100-50: rgba(10, 23, 41, 0.5);
  --primary-100-60: rgba(10, 23, 41, 0.6);
  --primary-100-70: rgba(10, 23, 41, 0.7);
  --primary-100-80: rgba(10, 23, 41, 0.8);
  --primary-100-90: rgba(10, 23, 41, 0.9);
  --primary-200: rgb(20, 46, 82);
  --primary-200-10: rgba(20, 46, 82, 0.1);
  --primary-200-20: rgba(20, 46, 82, 0.2);
  --primary-200-30: rgba(20, 46, 82, 0.3);
  --primary-200-40: rgba(20, 46, 82, 0.4);
  --primary-200-50: rgba(20, 46, 82, 0.5);
  --primary-200-60: rgba(20, 46, 82, 0.6);
  --primary-200-70: rgba(20, 46, 82, 0.7);
  --primary-200-80: rgba(20, 46, 82, 0.8);
  --primary-200-90: rgba(20, 46, 82, 0.9);
  --primary-300: rgb(30, 69, 123);
  --primary-300-10: rgba(30, 69, 123, 0.1);
  --primary-300-20: rgba(30, 69, 123, 0.2);
  --primary-300-30: rgba(30, 69, 123, 0.3);
  --primary-300-40: rgba(30, 69, 123, 0.4);
  --primary-300-50: rgba(30, 69, 123, 0.5);
  --primary-300-60: rgba(30, 69, 123, 0.6);
  --primary-300-70: rgba(30, 69, 123, 0.7);
  --primary-300-80: rgba(30, 69, 123, 0.8);
  --primary-300-90: rgba(30, 69, 123, 0.9);
  --primary-400: rgb(40, 92, 164);
  --primary-400-10: rgba(40, 92, 164, 0.1);
  --primary-400-20: rgba(40, 92, 164, 0.2);
  --primary-400-30: rgba(40, 92, 164, 0.3);
  --primary-400-40: rgba(40, 92, 164, 0.4);
  --primary-400-50: rgba(40, 92, 164, 0.5);
  --primary-400-60: rgba(40, 92, 164, 0.6);
  --primary-400-70: rgba(40, 92, 164, 0.7);
  --primary-400-80: rgba(40, 92, 164, 0.8);
  --primary-400-90: rgba(40, 92, 164, 0.9);
  --primary-500: rgb(50, 115, 205);
  --primary-500-10: rgba(50, 115, 205, 0.1);
  --primary-500-20: rgba(50, 115, 205, 0.2);
  --primary-500-30: rgba(50, 115, 205, 0.3);
  --primary-500-40: rgba(50, 115, 205, 0.4);
  --primary-500-50: rgba(50, 115, 205, 0.5);
  --primary-500-60: rgba(50, 115, 205, 0.6);
  --primary-500-70: rgba(50, 115, 205, 0.7);
  --primary-500-80: rgba(50, 115, 205, 0.8);
  --primary-500-90: rgba(50, 115, 205, 0.9);
  --primary-600: rgb(91, 143, 215);
  --primary-600-10: rgba(91, 143, 215, 0.1);
  --primary-600-20: rgba(91, 143, 215, 0.2);
  --primary-600-30: rgba(91, 143, 215, 0.3);
  --primary-600-40: rgba(91, 143, 215, 0.4);
  --primary-600-50: rgba(91, 143, 215, 0.5);
  --primary-600-60: rgba(91, 143, 215, 0.6);
  --primary-600-70: rgba(91, 143, 215, 0.7);
  --primary-600-80: rgba(91, 143, 215, 0.8);
  --primary-600-90: rgba(91, 143, 215, 0.9);
  --primary-700: rgb(132, 171, 225);
  --primary-700-10: rgba(132, 171, 225, 0.1);
  --primary-700-20: rgba(132, 171, 225, 0.2);
  --primary-700-30: rgba(132, 171, 225, 0.3);
  --primary-700-40: rgba(132, 171, 225, 0.4);
  --primary-700-50: rgba(132, 171, 225, 0.5);
  --primary-700-60: rgba(132, 171, 225, 0.6);
  --primary-700-70: rgba(132, 171, 225, 0.7);
  --primary-700-80: rgba(132, 171, 225, 0.8);
  --primary-700-90: rgba(132, 171, 225, 0.9);
  --primary-800: rgb(173, 199, 235);
  --primary-800-10: rgba(173, 199, 235, 0.1);
  --primary-800-20: rgba(173, 199, 235, 0.2);
  --primary-800-30: rgba(173, 199, 235, 0.3);
  --primary-800-40: rgba(173, 199, 235, 0.4);
  --primary-800-50: rgba(173, 199, 235, 0.5);
  --primary-800-60: rgba(173, 199, 235, 0.6);
  --primary-800-70: rgba(173, 199, 235, 0.7);
  --primary-800-80: rgba(173, 199, 235, 0.8);
  --primary-800-90: rgba(173, 199, 235, 0.9);
  --primary-900: rgb(214, 227, 245);
  --primary-900-10: rgba(214, 227, 245, 0.1);
  --primary-900-20: rgba(214, 227, 245, 0.2);
  --primary-900-30: rgba(214, 227, 245, 0.3);
  --primary-900-40: rgba(214, 227, 245, 0.4);
  --primary-900-50: rgba(214, 227, 245, 0.5);
  --primary-900-60: rgba(214, 227, 245, 0.6);
  --primary-900-70: rgba(214, 227, 245, 0.7);
  --primary-900-80: rgba(214, 227, 245, 0.8);
  --primary-900-90: rgba(214, 227, 245, 0.9);
  --primary-950: rgb(234, 241, 250);
  --primary-950-10: rgba(234, 241, 250, 0.1);
  --primary-950-20: rgba(234, 241, 250, 0.2);
  --primary-950-30: rgba(234, 241, 250, 0.3);
  --primary-950-40: rgba(234, 241, 250, 0.4);
  --primary-950-50: rgba(234, 241, 250, 0.5);
  --primary-950-60: rgba(234, 241, 250, 0.6);
  --primary-950-70: rgba(234, 241, 250, 0.7);
  --primary-950-80: rgba(234, 241, 250, 0.8);
  --primary-950-90: rgba(234, 241, 250, 0.9);
  --secondary-50: rgb(4, 12, 22);
  --secondary-50-10: rgba(4, 12, 22, 0.1);
  --secondary-50-20: rgba(4, 12, 22, 0.2);
  --secondary-50-30: rgba(4, 12, 22, 0.3);
  --secondary-50-40: rgba(4, 12, 22, 0.4);
  --secondary-50-50: rgba(4, 12, 22, 0.5);
  --secondary-50-60: rgba(4, 12, 22, 0.6);
  --secondary-50-70: rgba(4, 12, 22, 0.7);
  --secondary-50-80: rgba(4, 12, 22, 0.8);
  --secondary-50-90: rgba(4, 12, 22, 0.9);
  --secondary-100: rgb(8, 23, 43);
  --secondary-100-10: rgba(8, 23, 43, 0.1);
  --secondary-100-20: rgba(8, 23, 43, 0.2);
  --secondary-100-30: rgba(8, 23, 43, 0.3);
  --secondary-100-40: rgba(8, 23, 43, 0.4);
  --secondary-100-50: rgba(8, 23, 43, 0.5);
  --secondary-100-60: rgba(8, 23, 43, 0.6);
  --secondary-100-70: rgba(8, 23, 43, 0.7);
  --secondary-100-80: rgba(8, 23, 43, 0.8);
  --secondary-100-90: rgba(8, 23, 43, 0.9);
  --secondary-200: rgb(16, 46, 86);
  --secondary-200-10: rgba(16, 46, 86, 0.1);
  --secondary-200-20: rgba(16, 46, 86, 0.2);
  --secondary-200-30: rgba(16, 46, 86, 0.3);
  --secondary-200-40: rgba(16, 46, 86, 0.4);
  --secondary-200-50: rgba(16, 46, 86, 0.5);
  --secondary-200-60: rgba(16, 46, 86, 0.6);
  --secondary-200-70: rgba(16, 46, 86, 0.7);
  --secondary-200-80: rgba(16, 46, 86, 0.8);
  --secondary-200-90: rgba(16, 46, 86, 0.9);
  --secondary-300: rgb(24, 69, 129);
  --secondary-300-10: rgba(24, 69, 129, 0.1);
  --secondary-300-20: rgba(24, 69, 129, 0.2);
  --secondary-300-30: rgba(24, 69, 129, 0.3);
  --secondary-300-40: rgba(24, 69, 129, 0.4);
  --secondary-300-50: rgba(24, 69, 129, 0.5);
  --secondary-300-60: rgba(24, 69, 129, 0.6);
  --secondary-300-70: rgba(24, 69, 129, 0.7);
  --secondary-300-80: rgba(24, 69, 129, 0.8);
  --secondary-300-90: rgba(24, 69, 129, 0.9);
  --secondary-400: rgb(32, 93, 172);
  --secondary-400-10: rgba(32, 93, 172, 0.1);
  --secondary-400-20: rgba(32, 93, 172, 0.2);
  --secondary-400-30: rgba(32, 93, 172, 0.3);
  --secondary-400-40: rgba(32, 93, 172, 0.4);
  --secondary-400-50: rgba(32, 93, 172, 0.5);
  --secondary-400-60: rgba(32, 93, 172, 0.6);
  --secondary-400-70: rgba(32, 93, 172, 0.7);
  --secondary-400-80: rgba(32, 93, 172, 0.8);
  --secondary-400-90: rgba(32, 93, 172, 0.9);
  --secondary-500: rgb(40, 116, 215);
  --secondary-500-10: rgba(40, 116, 215, 0.1);
  --secondary-500-20: rgba(40, 116, 215, 0.2);
  --secondary-500-30: rgba(40, 116, 215, 0.3);
  --secondary-500-40: rgba(40, 116, 215, 0.4);
  --secondary-500-50: rgba(40, 116, 215, 0.5);
  --secondary-500-60: rgba(40, 116, 215, 0.6);
  --secondary-500-70: rgba(40, 116, 215, 0.7);
  --secondary-500-80: rgba(40, 116, 215, 0.8);
  --secondary-500-90: rgba(40, 116, 215, 0.9);
  --secondary-600: rgb(83, 144, 223);
  --secondary-600-10: rgba(83, 144, 223, 0.1);
  --secondary-600-20: rgba(83, 144, 223, 0.2);
  --secondary-600-30: rgba(83, 144, 223, 0.3);
  --secondary-600-40: rgba(83, 144, 223, 0.4);
  --secondary-600-50: rgba(83, 144, 223, 0.5);
  --secondary-600-60: rgba(83, 144, 223, 0.6);
  --secondary-600-70: rgba(83, 144, 223, 0.7);
  --secondary-600-80: rgba(83, 144, 223, 0.8);
  --secondary-600-90: rgba(83, 144, 223, 0.9);
  --secondary-700: rgb(126, 171, 231);
  --secondary-700-10: rgba(126, 171, 231, 0.1);
  --secondary-700-20: rgba(126, 171, 231, 0.2);
  --secondary-700-30: rgba(126, 171, 231, 0.3);
  --secondary-700-40: rgba(126, 171, 231, 0.4);
  --secondary-700-50: rgba(126, 171, 231, 0.5);
  --secondary-700-60: rgba(126, 171, 231, 0.6);
  --secondary-700-70: rgba(126, 171, 231, 0.7);
  --secondary-700-80: rgba(126, 171, 231, 0.8);
  --secondary-700-90: rgba(126, 171, 231, 0.9);
  --secondary-800: rgb(169, 199, 239);
  --secondary-800-10: rgba(169, 199, 239, 0.1);
  --secondary-800-20: rgba(169, 199, 239, 0.2);
  --secondary-800-30: rgba(169, 199, 239, 0.3);
  --secondary-800-40: rgba(169, 199, 239, 0.4);
  --secondary-800-50: rgba(169, 199, 239, 0.5);
  --secondary-800-60: rgba(169, 199, 239, 0.6);
  --secondary-800-70: rgba(169, 199, 239, 0.7);
  --secondary-800-80: rgba(169, 199, 239, 0.8);
  --secondary-800-90: rgba(169, 199, 239, 0.9);
  --secondary-900: rgb(212, 227, 247);
  --secondary-900-10: rgba(212, 227, 247, 0.1);
  --secondary-900-20: rgba(212, 227, 247, 0.2);
  --secondary-900-30: rgba(212, 227, 247, 0.3);
  --secondary-900-40: rgba(212, 227, 247, 0.4);
  --secondary-900-50: rgba(212, 227, 247, 0.5);
  --secondary-900-60: rgba(212, 227, 247, 0.6);
  --secondary-900-70: rgba(212, 227, 247, 0.7);
  --secondary-900-80: rgba(212, 227, 247, 0.8);
  --secondary-900-90: rgba(212, 227, 247, 0.9);
  --secondary-950: rgb(233, 241, 251);
  --secondary-950-10: rgba(233, 241, 251, 0.1);
  --secondary-950-20: rgba(233, 241, 251, 0.2);
  --secondary-950-30: rgba(233, 241, 251, 0.3);
  --secondary-950-40: rgba(233, 241, 251, 0.4);
  --secondary-950-50: rgba(233, 241, 251, 0.5);
  --secondary-950-60: rgba(233, 241, 251, 0.6);
  --secondary-950-70: rgba(233, 241, 251, 0.7);
  --secondary-950-80: rgba(233, 241, 251, 0.8);
  --secondary-950-90: rgba(233, 241, 251, 0.9);
  --accent-50: rgb(3, 11, 22);
  --accent-50-10: rgba(3, 11, 22, 0.1);
  --accent-50-20: rgba(3, 11, 22, 0.2);
  --accent-50-30: rgba(3, 11, 22, 0.3);
  --accent-50-40: rgba(3, 11, 22, 0.4);
  --accent-50-50: rgba(3, 11, 22, 0.5);
  --accent-50-60: rgba(3, 11, 22, 0.6);
  --accent-50-70: rgba(3, 11, 22, 0.7);
  --accent-50-80: rgba(3, 11, 22, 0.8);
  --accent-50-90: rgba(3, 11, 22, 0.9);
  --accent-100: rgb(6, 22, 45);
  --accent-100-10: rgba(6, 22, 45, 0.1);
  --accent-100-20: rgba(6, 22, 45, 0.2);
  --accent-100-30: rgba(6, 22, 45, 0.3);
  --accent-100-40: rgba(6, 22, 45, 0.4);
  --accent-100-50: rgba(6, 22, 45, 0.5);
  --accent-100-60: rgba(6, 22, 45, 0.6);
  --accent-100-70: rgba(6, 22, 45, 0.7);
  --accent-100-80: rgba(6, 22, 45, 0.8);
  --accent-100-90: rgba(6, 22, 45, 0.9);
  --accent-200: rgb(12, 45, 90);
  --accent-200-10: rgba(12, 45, 90, 0.1);
  --accent-200-20: rgba(12, 45, 90, 0.2);
  --accent-200-30: rgba(12, 45, 90, 0.3);
  --accent-200-40: rgba(12, 45, 90, 0.4);
  --accent-200-50: rgba(12, 45, 90, 0.5);
  --accent-200-60: rgba(12, 45, 90, 0.6);
  --accent-200-70: rgba(12, 45, 90, 0.7);
  --accent-200-80: rgba(12, 45, 90, 0.8);
  --accent-200-90: rgba(12, 45, 90, 0.9);
  --accent-300: rgb(18, 67, 135);
  --accent-300-10: rgba(18, 67, 135, 0.1);
  --accent-300-20: rgba(18, 67, 135, 0.2);
  --accent-300-30: rgba(18, 67, 135, 0.3);
  --accent-300-40: rgba(18, 67, 135, 0.4);
  --accent-300-50: rgba(18, 67, 135, 0.5);
  --accent-300-60: rgba(18, 67, 135, 0.6);
  --accent-300-70: rgba(18, 67, 135, 0.7);
  --accent-300-80: rgba(18, 67, 135, 0.8);
  --accent-300-90: rgba(18, 67, 135, 0.9);
  --accent-400: rgb(24, 89, 180);
  --accent-400-10: rgba(24, 89, 180, 0.1);
  --accent-400-20: rgba(24, 89, 180, 0.2);
  --accent-400-30: rgba(24, 89, 180, 0.3);
  --accent-400-40: rgba(24, 89, 180, 0.4);
  --accent-400-50: rgba(24, 89, 180, 0.5);
  --accent-400-60: rgba(24, 89, 180, 0.6);
  --accent-400-70: rgba(24, 89, 180, 0.7);
  --accent-400-80: rgba(24, 89, 180, 0.8);
  --accent-400-90: rgba(24, 89, 180, 0.9);
  --accent-500: rgb(31, 111, 224);
  --accent-500-10: rgba(31, 111, 224, 0.1);
  --accent-500-20: rgba(31, 111, 224, 0.2);
  --accent-500-30: rgba(31, 111, 224, 0.3);
  --accent-500-40: rgba(31, 111, 224, 0.4);
  --accent-500-50: rgba(31, 111, 224, 0.5);
  --accent-500-60: rgba(31, 111, 224, 0.6);
  --accent-500-70: rgba(31, 111, 224, 0.7);
  --accent-500-80: rgba(31, 111, 224, 0.8);
  --accent-500-90: rgba(31, 111, 224, 0.9);
  --accent-600: rgb(75, 140, 231);
  --accent-600-10: rgba(75, 140, 231, 0.1);
  --accent-600-20: rgba(75, 140, 231, 0.2);
  --accent-600-30: rgba(75, 140, 231, 0.3);
  --accent-600-40: rgba(75, 140, 231, 0.4);
  --accent-600-50: rgba(75, 140, 231, 0.5);
  --accent-600-60: rgba(75, 140, 231, 0.6);
  --accent-600-70: rgba(75, 140, 231, 0.7);
  --accent-600-80: rgba(75, 140, 231, 0.8);
  --accent-600-90: rgba(75, 140, 231, 0.9);
  --accent-700: rgb(120, 169, 237);
  --accent-700-10: rgba(120, 169, 237, 0.1);
  --accent-700-20: rgba(120, 169, 237, 0.2);
  --accent-700-30: rgba(120, 169, 237, 0.3);
  --accent-700-40: rgba(120, 169, 237, 0.4);
  --accent-700-50: rgba(120, 169, 237, 0.5);
  --accent-700-60: rgba(120, 169, 237, 0.6);
  --accent-700-70: rgba(120, 169, 237, 0.7);
  --accent-700-80: rgba(120, 169, 237, 0.8);
  --accent-700-90: rgba(120, 169, 237, 0.9);
  --accent-800: rgb(165, 198, 243);
  --accent-800-10: rgba(165, 198, 243, 0.1);
  --accent-800-20: rgba(165, 198, 243, 0.2);
  --accent-800-30: rgba(165, 198, 243, 0.3);
  --accent-800-40: rgba(165, 198, 243, 0.4);
  --accent-800-50: rgba(165, 198, 243, 0.5);
  --accent-800-60: rgba(165, 198, 243, 0.6);
  --accent-800-70: rgba(165, 198, 243, 0.7);
  --accent-800-80: rgba(165, 198, 243, 0.8);
  --accent-800-90: rgba(165, 198, 243, 0.9);
  --accent-900: rgb(210, 226, 249);
  --accent-900-10: rgba(210, 226, 249, 0.1);
  --accent-900-20: rgba(210, 226, 249, 0.2);
  --accent-900-30: rgba(210, 226, 249, 0.3);
  --accent-900-40: rgba(210, 226, 249, 0.4);
  --accent-900-50: rgba(210, 226, 249, 0.5);
  --accent-900-60: rgba(210, 226, 249, 0.6);
  --accent-900-70: rgba(210, 226, 249, 0.7);
  --accent-900-80: rgba(210, 226, 249, 0.8);
  --accent-900-90: rgba(210, 226, 249, 0.9);
  --accent-950: rgb(233, 241, 252);
  --accent-950-10: rgba(233, 241, 252, 0.1);
  --accent-950-20: rgba(233, 241, 252, 0.2);
  --accent-950-30: rgba(233, 241, 252, 0.3);
  --accent-950-40: rgba(233, 241, 252, 0.4);
  --accent-950-50: rgba(233, 241, 252, 0.5);
  --accent-950-60: rgba(233, 241, 252, 0.6);
  --accent-950-70: rgba(233, 241, 252, 0.7);
  --accent-950-80: rgba(233, 241, 252, 0.8);
  --accent-950-90: rgba(233, 241, 252, 0.9);
}
